<h1>Welcome to the calculators app!!!</h1>
<button><a href="/home">Dream Home</a></button>
<button><a href="/car">Dream Car</a></button>
<button><a href="/vacation">Dream Vacation</a></button>
<button><a href="/sip">SIP Planning</a></button>