<h1>Dream Car Planner!!</h1>
<form action="/carsol" method="POST">
    <h1>After how many years do you see yourself driving your dream car: <input type="number" name="years" placeholder="ex. 3" required>Years</h1>
    <h1>How much does your dream car cost today: <input type="number" name="cost" placeholder="ex. 1000000" required>Rs</h1>
    <h1>What percentage of this cost would you like to go for a car loan: <input type="number" name="loan" placeholder="ex. 20" required>%</h1>
    <h1>How much money can you set aside for your dream car at the moment: <input type="number" name="investment" placeholder="ex. 300000" required>Rs</h1>
    <h1>Inflation rate: <input type="number" name="ir" placeholder="ex. 7" required>%</h1>
    <h1>Rate of return: <input type="number" name="ror" placeholder="ex. 9" required>%</h1>
    <input type="submit">
</form>
<a href="/"><button>Back to home page</button></a>