<h1>SIP Planner!!</h1>
<form action="/sipsol" method="POST">
    <h1>Investment Amount: <input type="number" name="investment" placeholder="ex. 10000" required>Rs</h1>
    <h1>Expected interest rate: <input type="number" name="ir" placeholder="ex. 10" required>%</h1>
    <h1>Duration: <input type="number" name="years" placeholder="ex. 5" required>Years</h1>
    <input type="submit">
</form>
<a href="/"><button>Back to home page</button></a>