<h1>Vacation Planner!!</h1>
<form action="/vacationsol" method="POST">
    <h1>After how many years do you wish to on your holiday: <input type="number" name="years" placeholder="ex. 3" required>Years</h1>
    <h1>How much does this trip cost today: <input type="number" name="cost" placeholder="ex. 1000000" required>Rs</h1>
    <h1>How much money can you set aside for your holiday at the moment: <input type="number" name="investment" placeholder="ex. 300000" required>Rs</h1>
    <h1>Inflation rate: <input type="number" name="ir" placeholder="ex. 7" required>%</h1>
    <h1>Rate of return: <input type="number" name="ror" placeholder="ex. 9" required>%</h1>
    <input type="submit">
</form>
<a href="/"><button>Back to home page</button></a>